---
---

//Setup
@import bourbon/bourbon

*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

.clearfix:after
    content: ""
    display: table
    clear: both

/*Color palette*/
$link-hover: #00aeef
$post-info: #5a5959
$section-gray: #ebebeb

/*Font Stacks*/
$serif: 'Cardo', Georgia, sans-serif
$marvel: 'Marvel', Arial, sans-serif
$abel: 'Abel', Helvetica, sans-serif

//FadeInUp Animation
.fadeInUp
    @include animation-name(fadeInUp)
    @include animation-duration(1s)
    @include animation-fill-mode(both)

@include keyframes(fadeInUp)
    from
        opacity: 0
        @include transform(translateY(50px))

    to
        opacity: 1
        @include transform(translateY(0))

//END Setup

//General Styles

//wrapper for content
.content
    display: block
    margin: 0 auto
    max-width: 1280px
    padding: 20px 55px

//Reserved for giant headings at the top of each page
h1
    font-family: $serif
    font-size: 3.7em
    font-weight: normal
    margin-bottom: 40px

//subtitle for the giant headings
.header-subtitle
    font-family: $marvel
    font-size: 2em
    @include animation-delay(.5s)

//Section titles (Work, Blog, Contact, etc)
h2
    font-family: $abel
    font-size: 1.8em
    font-weight: normal
    margin-bottom: 30px

//Thumbnail information titles
h3
    font-family: $abel
    font-size: 1.5em
    color: white
    font-weight: normal

    &:after
        content: ""
        display: block
        width: 5px
        height: 1px
        margin: 10px auto
        background: #888
        @include transition(all .5s ease-in-out)

//thumbnail information subtitles
.subtitle
    font-size: 1em
    color: #888
    margin: 10px 0 0 0

//links
a
    text-decoration: none
    color: black
    @include transition(all .3s ease-in-out)

    &:hover
        cursor: pointer
        color: $link-hover

//buttons
.button
    text-decoration: none
    font-size: 1.3em
    font-family: $abel
    padding: 7px 20px
    color: black
    border: 1px solid black
    border-radius: 3px
    @include transition(all .3s ease-in-out)

    &:hover
        color: $link-hover
        border-color: $link-hover

//Homemade Crappy Grid

.grid-item
    float: left
    position: relative
    @include transition(all .2s ease-in-out)

    &:hover
        z-index: 1
        @include transform(scale(1.03))
        box-shadow: #222 0px 3px 7px

    img
        width: 100%

    .info
        opacity: 0
        background: rgba(0, 0, 0, .8)
        position: absolute
        padding: 0 40px
        top: 0
        bottom: 0
        left: 0
        right: 0
        font-family: $abel
        text-align: center
        @include transition(all .3s ease-in-out)

        &:hover
            opacity: 1.0
        
        //animating the little line under the h3 to expand
        &:hover h3:after
            width: 25px

        a
            color: #888
            border-bottom: 1px solid #888

            &:hover
                color: $link-hover
                border-bottom: 1px solid $link-hover

.col-1
    width: 33%

.col-2
    width: 66%

.col-3
    width: 99%

//END Homemade Grid

//END General Styles

@import landing
@import portfolio-page
@import blog
@import media-queries