<head>
    <<!-->Meta</!-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <<!-->Title</!-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


    <!-->Favicons</!-->
    <link rel="icon" type="image/ico" href="\assets\favicons\favicon.ico" />
    <link rel="shortcut icon" type="image/ico" href="\assets\favicons\favicon.ico" />

    <<!-->Scripts that need to be loaded first go here</!-->
    <script src="/js/skel.min.js"></script>
    <script async src="/js/lazysizes.min.js"></script>

</head>
