<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!--Title pulled from config.yml-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    
    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

    <!--Favicons-->
    <link rel="icon" type="image/ico" href="\assets\favicons\favicon.ico" />
    <link rel="shortcut icon" type="image/ico" href="\assets\favicons\favicon.ico" />


    <!--Scripts-->
    <script async src="/js/lazysizes.min.js"></script>

</head>
