<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Homescreens</title>

		<link rel="stylesheet" href="/css/salvattore.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/jam.min.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/styles.css">

		<!--Favicons-->
		<link rel="icon" type="image/ico" href="favicon.ico" />
		<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	</head>
	<body>

		<nav class="navbar navbar-expand-md">
			<a href="/" class="navbar-brand d-flex mr-auto">homescreens</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="collapsingNavbar3">
				<ul class="nav navbar-nav ml-auto w-100">
					<li class="nav-item">
						<a class='nav-link' href='/about'>about</a>
					</li>
					<li class="nav-item">
						<a class='nav-link' href='/irc'>irc</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/wiki">wiki</a>
					</li>
				</ul>
			</div>
		</nav>
