@import url(https://fonts.googleapis.com/css?family=Raleway|Droid+Sans);

/* Basic */
html {
font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
body,a{margin:0;padding:0;color:#222222;text-align:center;text-decoration:none}
body,input,select,textarea{background-color: #F9F7F6;font-size:15pt;}
sub{font-size:8px;position:relative;top:.5em}
sup{font-size:8px;position:relative;top:-.5em}
hr{display:block;border-style:inset;border-width:1px;width:65%;margin:1.6em auto}
header{margin-bottom: 50px;}
header.major{padding-bottom:25px}
header h2{margin:1px;margin-bottom:8px;line-height:1.55em;padding:0;font-size:42px}
span{font-size:12pt;line-height:1.6em}

/* Image */
img{border: 10px solid #dddbda;max-width: 100%;height: auto;margin-bottom: 100px;}
img.webm {border: 10px solid #b0e4ed;}
.image{border:0;position:relative}
.image.fit{display:block}
.image.fit img{display:block;width:100%}
.image.feature{display:block;margin:0 0 6px}
.image.feature img{display:block;width:100%;}

.row {margin-bottom: 20px;}
.footer{font-size:14px;padding-top: 30px}